

.topnav {
    overflow: visible;
    background-color: #917171;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}



.card {
    background-color:#917171;
    padding: 20px;
    margin-top: 30px;
}
.leftcolumn {   
    float: left;
    width: 75%;
}
.rightcolumn {
    float: left;
    width: 25%;
    background-color: rgba(255, 218, 216, 0.717);
    padding-left: 20px;
}
.fakeimg {
    background-color: rgba(255, 218, 216, 0.717);
    width: 100%;
    padding: 20px;
}



.row:after {
    content: "";
    display: table;
    clear: both;
}

.topnav::after {
        content: "";
        clear: both;
        display: table;
}

